.my_navbar{
    height: 95px;
}

.my_main{
    height: calc(100vh - 95px); 
}

.my_aside{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    width: 190px;
}

.my_section_student{
    height: 170px;
    background-color: #1b72e8;
}

tbody img{
    width: 30px;
}

nav ol li a span, .my_span{
    background-color: #165bba;
}

@media screen and (max-width: 575px){
    .my_aside{
        width: 70px;
    }
}

